body {
    font-family: 'Poppins', sans-serif;
    background: #080808;
    color: #fff;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.pink {
    color: #ff004f;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 2%;

}

.half-width img {
    width: 80%;




}

.link-button {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(#ff004f, #970b37);
    padding: 10px 30px;
    border-radius: 5px;

}

.top {
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
}

.experience-area {}

.item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

#full-stack-developer {
    border-left: 7px solid #ff004f;
}

#baby-web-developer {
    border-left: 7px solid #ff004f;
}

footer p {
    text-align: center;
}